nav.nav img {
    height: 5em;
    width: 15em;
}

nav.nav {
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0em;
}

nav.nav .links {
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

nav.nav .links a, nav.nav .links a:active, nav.nav .links a:hover, nav.nav .links a:visited, nav.nav .links a:link {
    text-decoration: none;
}

nav.nav a {
    font-size: 2rem;
}

.shop-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.shop-nav h2 {
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

.shop-nav h2[disabled] {
    color: var(--red);
    font-weight: bold;
}