.shop h3 {
    font-size: 4rem;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-family: 'Chewy', cursive;
}

.shop .items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, clamp(300px, 25%, 600px));
    gap: 5em;
    justify-content: center;
}

.shop .items-container h4 {
    font-size: 2rem;
    text-align: center;
}

.shop .item {
    cursor: pointer;
}

.shop .item > * {
    width: 100%;
}

.shop .item img {
    height: 21.5em;
}

.itemview .itemInfoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.itemview .itemInfoWrapper > * {
    display: flex;
    flex-direction: column;
}

.itemview .itemInfoWrapper > img {
    width: 30%;
}

.itemview h3 {
    font-size: 4rem;
    font-weight: bold;
}

.itemview .controls {
    display: flex;
    flex-direction: column;
}

.itemview .purchase-control {
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em 0em;
}

.itemview .quantity-wrapper {
    display: flex;
    gap: .5em;
    align-items: center;
    font-size: 1.5em;
}

.itemview .quantity-wrapper input  {
    height: 1.75em;
    width: 5em;
}

.itemview .quantity-wrapper label  {
    font-size: 1.75rem;
}


.itemview .purchase-control button, .itemview .go-back {
    height: 2.5em;
    width: 10em;
    background: var(--red);
    border-radius: 10px;
    border: 1px solid var(--red);
    color: white;
}