.shop h3 {
    font-size: 4rem;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-family: 'Chewy', cursive;
}

.shop .items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, clamp(300px, 25%, 600px));
    gap: 5em;
    justify-content: center;
}

.shop .items-container h4 {
    font-size: 2rem;
    text-align: center;
}

.shop .item {
    cursor: pointer;
}

.shop .item > * {
    width: 100%;
}

.shop .item img {
    height: 21.5em;
}